body {
    background-color: #1c1c1c;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
}

.category-filter {
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.category-item {
    padding: 10px 15px;
    background-color: #1c1c1c;
    border-radius: 20px;
    margin: 5px;
    color: #bbb;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.category-item.active, .category-item:hover {
    background-color: #333;
    color: #fff;
}

.category-item i {
    margin-right: 8px;
}

.category-item .badge {
    background-color: #444;
    margin-left: 10px;
}

.command-box {
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    color: white;
}

.hidden {
    display: none;
}
